
.vscode
.history
dataset/clickbait_dataset/vectorized_word2vec10k.json
dataset/clickbait_dataset/vectorized_word2vec20k.json
dataset/clickbait_dataset/300dims_vectorized_spacy10k.json
dataset/clickbait_dataset/300dims_vectorized_spacy20k.json
dataset/fakenews_dataset/Fake.csv
dataset/fakenews_dataset/True.csv
dataset/fakenews_dataset/manual_testing.csv
dataset/clickbait_dataset/300dims_vectorized_spacy20k/300dims_vectorized_spacy20k.json
dataset/fakenews_dataset/300dims_vectorized_spacy5k.json
dataset/fakenews_dataset/300dims_vectorized_spacy10k/300dims_vectorized_spacy10k.json
dataset/fakenews_dataset/300dims_vectorized_spacy5k/300dims_vectorized_spacy5k.json
